---
layout: other
title: Quest Log
---
<div class = "pageTitle">
  <h1>Quest Log</h1>
</div>

<div class = "container">
  <br></br>
</div>

<div class = "container">

  <div class="wrapperQuest">

    <div class = "h2">Active</div><br>

    {% for quest in site.data.active %}
    <button type="button" class="collapsible">{{ quest.name }}</button>
    <div class="content">
      <div class = "innerContent">
        {{ quest.description }}
        <br></br>
        <ul class = "fa-ul">
          {% for item in quest.learned %}
            <li class = "listGold"><span class="fa-li"><i class="fas fa-caret-right"></i></span>{{ item.note }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}

    <br></br>
    <div class = "h2">Completed</div><br>

    {% for quest in site.data.completed %}
    <button type="button" class="collapsible">{{ quest.name }}</button>
    <div class="content">
      <div class = "innerContent">
        {{ quest.description }}
        <br></br>
        <ul class = "fa-ul">
          {% for item in quest.learned %}
            <li class = "listGold"><span class="fa-li"><i class="fas fa-caret-right"></i></span>{{ item.note }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}

    <script src="collapsible.js"></script>
  
  </div>
  <br></br>

</div>

